<?xml version="1.0" encoding="utf-8" ?>

<odoo>
	<record id="action_open_equipamiento" model="ir.actions.act_window">
		<field name="name">Equipamiento</field>
		<field name="res_model">product.template</field>
		<field name="view_mode">tree,form</field>
	</record>

	<menuitem id="menu_principal" name="Equipamiento"/>
	<menuitem id="menu_horizontal" name="Equipos" parent="menu_principal"/>
</odoo>
